<div class="container">
    <!--<div class="card">
        <div class="card-header">
            <h3>Agendados</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <td>id</td>
                        <td>nombres</td>
                        <td>contacto</td>
                        <td>fecha</td>
                        <td>hora</td>
                        <td>horario</td>
                        <td>abono</td>
                        <td>pago</td>
                        <td>tipo</td>
                        <td>descripcion</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes" class="text-center">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nombres }}</td>
                        <td>{{ cliente.contacto }}</td>
                        <td>{{ cliente.fecha }}</td>
                        <td>{{ cliente.hora }}</td>
                        <td>{{ cliente.horario }}</td>
                        <td>{{ cliente.abono }}</td>
                        <td>{{ cliente.pago }}</td>
                        <td>{{ cliente.tipo }}</td>
                        <td>{{ cliente.descripcion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>-->
    <div id="calendar"></div>
</div>